* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wraper {
    width: 1200px;
    position: relative;
}
.wraper .canvas {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
}
.wraper .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: none;
    z-index: 9998;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.wraper .pencil-class {
    background-image: url('../img/pencil.png');
}
.wraper .eraser-class {
    background-image: url('../img/eraser.png');
}
.wraper .btn-list {
    width: 1000px;
    text-align: center;
    margin-top: 10px;
}
.wraper .btn-list li {
    display: inline-block;
    margin: 10px;
}
.wraper .btn-list li input {
    padding: 10px 15px;
    background: yellow;
    color: #000;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    border: 1px solid transparent;
}
.wraper .btn-list li input.rangeBoard {
    vertical-align: middle;
}
.wraper .btn-list li input:hover {
    border: 1px solid #ccc;
    box-shadow: 0 10px 12px #ccc;
}