<!DOCTYPE html>
<html>
<head>
    <title>Sudoku solving system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/mycss.css" rel="stylesheet">
    <script src="bootstrap/scripts/jquery.min.js"></script>
    <script src="bootstrap/scripts/bootstrap.min.js"></script>
    <script src="bootstrap/scripts/jquery-1.4.3.js"></script>
    <script src="bootstrap/scripts/myscript.js"></script>
</head>
<body>
<div id="top"></div>
<!--<div id="top_lead">-->
    <!--<div id="top_log"><a href="#" id="log">登录</a>&nbsp;&nbsp;<a href="#" id="log">注册</a></div>-->
<!--</div>-->
<div id="left">
    <div id="left_lead">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="javascript:;" id="a1"><span class="glyphicon glyphicon-flag" ></span>solving sudoku</a></li>
            <li><a href="javascript:;" id="a2"><span class="glyphicon glyphicon-user" ></span>gaming </a></li>
            <li><a href="javascript:;" id="a3"><span class="glyphicon glyphicon-edit"></span>developing</a></li>
            <li><a href="javascript:;" id="a4"><span class="glyphicon glyphicon-file" ></span>developing</a></li>
        </ul>
    </div>
</div>
<div class="panel panel-default" id="main">
    <div class="panel-heading">

    </div>
    <div class="panel-body">

        <li>welcome to Sudoku solving system</li>
        <li>you can choose the feature at left side</li>


        <i class="fafa-search"></i>
    </div>
</div>
<!--<div id="foot"></div>-->
</body>
</html>